.admin-panel {
	border: 3px solid #100;
	border-radius: 15px;
	position: fixed;
	left: 30px;
	bottom: 650px;
	opacity: 0.2;
	padding: 25px;

}

.admin-panel:hover {
	opacity: 1;
}

.admin-panel a {
	display: block;
	margin: 5px 0;
}

a.edit, a.delete {
	display: None;
}

