{% extends 'workersapp/base_template.html' %}

{% block title %}
    Alphabet
{% endblock %}

{% block content %}
    {% for name in names%}
        <a href=" {%url 'alphabet_url' group=name %}" class="btn btn-info btn-lg">{{ name }}</a>
    {% endfor %}

    <div class="container mt-5">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Отчество</th>
                <th scope="col">E-mail</th>
                <th scope="col">Телефон</th>
                <th scope="col">Должность</th>
                <th scope="col">Отдел</th>
            </tr>
            </thead>
            {% for worker in query %}
                <tbody>
                <tr>
                    <td> {{ worker.surname }}</td>
                    <td> {{ worker.name }}</td>
                    <td> {{ worker.lastName }}</td>
                    <td> {{ worker.email}}</td>
                    <td> {{ worker.phone }}</td>
                    <td> {{ worker.position }}</td>
                    <td> {{ worker.department }}</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}